set es_enableCustomData 1 
set mysql_connection_string "server=mysql-mariadb14-104.zap-hosting.com;database=zap432221-1;userid=zap432221-1;password=BYmfJxkp1awxm8wl" 
endpoint_add_tcp "92.42.46.124:32552" 
endpoint_add_udp "92.42.46.124:32552" 
sv_maxclients 30
# You probably don't want to change these!
exec permissions.cfg
# Only change them if you're using a server with multiple network interfaces.


# These resources will start by default.
start mapmanager
start chat
start spawnmanager
start sessionmanager
start fivem
start hardcap
start rconlog
start CustomScripts
start gcphone
start kohtu
start loadingscreen
start map
start relv
start spidokad
start VisualSettings
start bob74_ipl
start blackout
start vilkurid
start rannaautopood
start realistlicvehicle
start nocrosshair
start EngineToggle
start Banaan
start radar
start es_admin2
start SeatShuffle
start cv_control
start ID
start LockSystem3.1
start trafficadjuster
start PvP
start NativeUILua
start pmenu
start LegacyFuel

#Trainer

ESX packs
start async
start cron
start es_camera
start es_extended
start esx_addonaccount
start esx_addoninventory
start esx_atm
start esx_bankerjob
start esx_barbershop
start esx_basicneeds
start esx_billing
start esx_boat
start esx_clotheshop
start esx_cruisecontrol
start esx_datastore
start esx_drugs
start esx_holdup
start esx_gcidentity
start esx_identity
start esx_joblisting
start esx_menu_default
start esx_jobs
start esx_license
start esx_lscustom
start esx_menu_dialog
start esx_menu_list
start esx_migrate
start esx_optionalneeds
start esx_property
start esx_rpchat
start esx_service
start esx_shops
start esx_sit
start esx_skin
start esx_society
start esx_status
start esx_voice
start esx_jb_weashops
start instance
start skinchanger
start SeatbeltIndicator
start esx_eden_garage
start esx_legacyfuel
start esx_scoreboard
start es_camera
start gcphone
start esx_addons_gcphone
start esx_policejob
start esx_ambulancejob
start esx_mechanicjob
start esx_taxijob
start esx_realestateagentjob
start esx_vehicleshop
start esx_tattoosShops
start esx_menu_dialog
start esx_trunk
start esx_dmvschool
start esx_east
start esx_thelostmcjob
start esx_mafia
start PvP
start esx_trunk
start esx_carshowroom
start esx_celldoors
start esx_hide_hud
start esx_outlawalert
start esx_borrmaskin
start esx_holdupbank
start esx_npcdrugsales
start esx_jail
start esx_policejob2

Autod
start politseiskoda
start bmci
start g65amg
start hellcatlb
start pcs18
start s4avant
start S63AMG
start skyline
start supra2
start LSPD
start kiirabi
start firebird
start x6m
start fbi
start bcso
start audipd
start bmwe39

# This allows players to use scripthook based plugins such as lambda menu.
# Set this to 0 to disallow scripthook.
sv_scriptHookAllowed 0

# Uncomment this to enable RCON. Make sure to change the password.
rcon_password 28dfa02fac

# A comma-separated list of tags for your server.
# For example:
# - sets tags "drifting, cars, racing"
# Or:
# - sets tags "roleplay, military, tanks"
sets tags "default"

# Set an optional server info and connecting banner image url.
# Size doesn't matter, any banner sized image will be fine.
#sets banner_detail "http://url.to/image.png"
#sets banner_connecting "http://url.to/image.png"

# Set your server's hostname
sv_hostname "[EST] Eesti Roleplay | No Whitelist | Custom Cars | Whitelist Jobs"

# Nested configs!
#exec server_internal.cfg

# Loading a server icon (96x96 PNG file)
load_server_icon zap96x96.png

# convars which can be used in scripts
set temp_convar "hey world!"

# Uncomment this line if you do not want your server to be listed in the server browser.
#sv_master1 ""

# Want to only allow players authenticated with a third-party provider like Steam?
# Don't forget Social Club is a third party provider too!
#sv_authMaxVariance 1
#sv_authMinTrust 5

# Add system admins
 # add the admin to the group

# Hide player endpoints in external log output.
sv_endpointprivacy true
onesync_enabled 0
#This is an official FiveM server hosted by ZAP-Hosting.com. You do not need to put a license key here.
restart sessionmanager
add_ace group.admin webadmin allow
add_principal identifier.steam:110000136ade0ac group.admin
add_principal identifier.steam:110000136a74931 group.admin
add_principal identifier.steam:11000013680663c group.admin
add_principal identifier.steam:11000013a95be60 group.admin
add_principal identifier.steam:1100001000056ba group.admin
add_principal identifier.steam:1100001155a2adb group.admin
